* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

body[p-sodik="loading"] {
  background-color: #000;
  color: #411;
  font-family: Consolas, Courier, monospace;
  font-size: 60px;
  text-shadow: 0 0 15px #411;
  height: 100%;
}

body[p-sodik="loading"] > div[sodik-content] {
    position: fixed;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

body[p-sodik="loading"] > div[sodik-content] > div[sodik-text-loading] .glow {
  color: #f00;
  text-shadow: 0px 0px 10px #f00;
}

body[p-sodik="loading"] > div[sodik-content] > div[sodik-text-loading] > span {
  display: inline-block;
  padding: 0 10px;
}

body[sodik-home] {
  font: 12px "Monaco", Inconsolata, monospace;
  background: #083952;
  color: #f8f8f8;
}

[sodik-home] > .terminal {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 25px;
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4);
}

[sodik-home] > .terminal > .dollar:before {
  content: '$';
  color: #52a563;
}

[sodik-home] > .home {
  color: #e28d47;
  padding-bottom: 3px;
}

[sodik-home] > a {
  font: 20px "Monaco", Inconsolata, monospace;
  text-decoration: underline;
  color: #f8f8f8;
}